@font-face {
  font-family: hamid;
  src: url(../fonts/Hamid.ttf);
}
@font-face {
  font-family: abasan;
  src: url(../fonts/Abasan.ttf);
}
@font-face {
  font-family: hayat;
  src: url(../fonts/Hayat.ttf);
}
@font-face {
  font-family: Vazir;
  src: url(../fonts/Vazir.ttf);
}
@font-face {
  font-family: kaman;
  src: url(../fonts/Kaman.ttf);
}
